promotionAdminWS/src/main/resources/promotionAdmin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
targetNamespace="http://www.fb.com/platform/promotion/admin/1.0.0" xmlns:promotionAdmin="http://www.fb.com/platform/promotion/admin/1.0.0">
  <xs:element name="fetchRuleRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:sessionToken"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sessionToken" type="xs:string"/>
  <xs:element name="fetchRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:ruleConfigDescriptor" maxOccurs="unbounded"/>
        <xs:element ref="promotionAdmin:fetchRulesEnum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="fetchRulesEnum" type="promotionAdmin:fetchRulesEnum"/>
  <xs:simpleType name="fetchRulesEnum">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="SUCCESS"/>
      	<xs:enumeration value="NO_SESSION"/>
      	<xs:enumeration value="INTERNAL_ERROR"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:element name="ruleConfigDescriptor">
  	<xs:complexType>
      	<xs:sequence>
  			<xs:element ref="promotionAdmin:rulesEnum"/>
  			<xs:element ref="promotionAdmin:ruleConfigDescriptorItem" maxOccurs="unbounded"/>
  		</xs:sequence>
  	</xs:complexType>
  </xs:element>
  
  <xs:element name="rulesEnum" type="promotionAdmin:rulesEnum"/>
  <xs:simpleType name="rulesEnum">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="BUY_X_GET_Y_FREE"/>
      	<xs:enumeration value="BUY_WORTH_X_GET_Y_RS_OFF"/>
      	<xs:enumeration value="BUY_WORTH_X_GET_Y_PERCENT_OFF"/>
      	<xs:enumeration value="BUY_WORTH_X_GET_Y_RS_OFF_ON_Z_CATEGORY"/>
      	<xs:enumeration value="BUY_X_BRAND_GET_Y_RS_OFF_ON_Z_PRODUCT"/>
      	<xs:enumeration value="BUY_WORTH_X_GET_Y_PERCENT_OFF_ON_Z_CATEGORY"/>
      	<xs:enumeration value="FIRST_PURCHASE_BUY_WORTH_X_GET_Y_RS_OFF"/>
      	<xs:enumeration value="BUY_X_QUANTITY_GET_VARIABLE_PERCENT_OFF"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:element name="ruleConfigDescriptorItem">
  	<xs:complexType>
      	<xs:sequence>
      		<xs:element ref="promotionAdmin:isMandatory"/>
      		<xs:element ref="promotionAdmin:ruleConfigDescription"/>
      		<xs:element ref="promotionAdmin:ruleConfigType"/>
      		<xs:element ref="promotionAdmin:ruleConfigDescriptorEnum"/>
      	</xs:sequence>
   	</xs:complexType>
  </xs:element>
  
  <xs:element name="isMandatory" type="xs:boolean"/>
  <xs:element name="ruleConfigDescription" type="xs:string"/>
  <xs:element name="ruleConfigType" type="xs:string"/>
  
  <xs:element name="ruleConfigDescriptorEnum" type="promotionAdmin:ruleConfigDescriptorEnum"/>
  <xs:simpleType name="ruleConfigDescriptorEnum">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="CLIENT_LIST"/>
      	<xs:enumeration value="BRAND_LIST"/>
      	<xs:enumeration value="MIN_ORDER_VALUE"/>
      	<xs:enumeration value="FIXED_DISCOUNT_RS_OFF"/>
      	<xs:enumeration value="DISCOUNT_PERCENTAGE"/>
      	<xs:enumeration value="MAX_DISCOUNT_CEIL_IN_VALUE"/>
      	<xs:enumeration value="PRODUCT_ID"/>
      	<xs:enumeration value="PRODUCT_DISCOUNT_RS_OFF"/>
      	<xs:enumeration value="PRODUCT_DISCOUNTED_VALUE"/>
      	<xs:enumeration value="CATEGORY_INCLUDE_LIST"/>
      	<xs:enumeration value="CATEGORY_EXCLUDE_LIST"/>
      	<xs:enumeration value="VARIABLE_DISCOUNT_PERCENT"/>
	</xs:restriction>
  </xs:simpleType>
 
  <xs:element name="createPromotionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:createPromotionTO"/>
        <xs:element ref="promotionAdmin:sessionToken"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="createPromotionTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:promotionName"/>
        <xs:element ref="promotionAdmin:description"/>
        <xs:element ref="promotionAdmin:isActive"/>
        <xs:element ref="promotionAdmin:validFrom"/>
        <xs:element ref="promotionAdmin:validTill"/>
        <xs:element ref="promotionAdmin:maxUses"/>
        <xs:element ref="promotionAdmin:maxAmount"/>
        <xs:element ref="promotionAdmin:maxUsesPerUser"/>
        <xs:element ref="promotionAdmin:maxAmountPerUser"/>
        <xs:element ref="promotionAdmin:ruleName"/>
        <xs:element ref="promotionAdmin:ruleConfigItemTO" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="promotionTO">
    <xs:complexType>
      <xs:sequence>
      	<xs:element ref="promotionAdmin:promotionId"/>
        <xs:element ref="promotionAdmin:promotionName"/>
        <xs:element ref="promotionAdmin:description"/>
        <xs:element ref="promotionAdmin:isActive"/>
        <xs:element ref="promotionAdmin:validFrom"/>
        <xs:element ref="promotionAdmin:validTill"/>
        <xs:element ref="promotionAdmin:maxUses"/>
        <xs:element ref="promotionAdmin:maxAmount"/>
        <xs:element ref="promotionAdmin:maxUsesPerUser"/>
        <xs:element ref="promotionAdmin:maxAmountPerUser"/>
        <xs:element ref="promotionAdmin:ruleName"/>
        <xs:element ref="promotionAdmin:ruleId"/>
        <xs:element ref="promotionAdmin:couponCount"/>
        <xs:element ref="promotionAdmin:ruleConfigItemTO" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="promotionName" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="isActive" type="xs:boolean"/>
  <xs:element name="validFrom" type="xs:dateTime"/>
  <xs:element name="validTill" type="xs:dateTime"/>
  <xs:element name="maxUses" type="xs:int"/>
  <xs:element name="maxAmount" type="xs:decimal"/>
  <xs:element name="maxUsesPerUser" type="xs:int"/>
  <xs:element name="maxAmountPerUser" type="xs:decimal"/>
  <xs:element name="ruleName" type="xs:string"/>
  <xs:element name="couponCount" type="xs:int"/>
  
  <xs:element name="ruleConfigItemTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:ruleConfigName"/>
        <xs:element ref="promotionAdmin:ruleConfigValue"/>
        <xs:element ref="promotionAdmin:ruleConfigDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ruleConfigValue" type="xs:string"/>
  <xs:element name="ruleConfigName" type="xs:string"/>
  
  <xs:element name="createPromotionResponse">
    <xs:complexType>
      <xs:sequence>
      	<xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:promotionId"/>
        <xs:element ref="promotionAdmin:errorCause"/>
        <xs:element ref="promotionAdmin:createPromotionEnum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="promotionId" type="xs:int"/>
  <xs:element name="errorCause" type="xs:string"/>
  
  <xs:element name="createPromotionEnum" type="promotionAdmin:createPromotionEnum"/>
  <xs:simpleType name="createPromotionEnum">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="SUCCESS"/>
      	<xs:enumeration value="NO_SESSION"/>
      	<xs:enumeration value="RULE_CONFIG_MISSING"/>
      	<xs:enumeration value="INTERNAL_ERROR"/>
      	<xs:enumeration value="INSUFFICIENT_DATA"/>
      	<xs:enumeration value="DUPLICATE_PROMOTION_NAME"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:element name="searchPromotionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:promotionName"/>
        <xs:element ref="promotionAdmin:validFrom"/>
        <xs:element ref="promotionAdmin:validTill"/>
        <xs:element ref="promotionAdmin:isActive"/>
        <xs:element ref="promotionAdmin:searchPromotionOrderBy"/>
        <xs:element ref="promotionAdmin:sortOrder"/>
        <xs:element ref="promotionAdmin:startRecord"/>
        <xs:element ref="promotionAdmin:batchSize"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="searchPromotionOrderBy" type="promotionAdmin:searchPromotionOrderBy"/>
  <xs:simpleType name="searchPromotionOrderBy">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="NAME"/>
      	<xs:enumeration value="VALID_FROM"/>
      	<xs:enumeration value="VALID_TILL"/>
      	<xs:enumeration value="IS_ACTIVE"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:element name="sortOrder" type="promotionAdmin:sortOrder"/>
  <xs:simpleType name="sortOrder">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="ASCENDING"/>
      	<xs:enumeration value="DESCENDING"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:element name="startRecord" type="xs:int"/>
  <xs:element name="batchSize" type="xs:int"/>
  
  <xs:element name="searchPromotionResponse">
    <xs:complexType>
      <xs:sequence>
      	<xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:promotionViewTO" maxOccurs="unbounded"/>
        <xs:element ref="promotionAdmin:errorCause"/>
        <xs:element ref="promotionAdmin:searchPromotionEnum"/>
        <xs:element ref="promotionAdmin:totalCount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="totalCount" type="xs:int"/>
  
  <xs:element name="promotionViewTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:promotionId"/>
        <xs:element ref="promotionAdmin:promotionName"/>
        <xs:element ref="promotionAdmin:description"/>
        <xs:element ref="promotionAdmin:isActive"/>
        <xs:element ref="promotionAdmin:validFrom"/>
        <xs:element ref="promotionAdmin:validTill"/>
        <xs:element ref="promotionAdmin:ruleName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="searchPromotionEnum" type="promotionAdmin:searchPromotionEnum"/>
  <xs:simpleType name="searchPromotionEnum">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="SUCCESS"/>
      	<xs:enumeration value="NO_SESSION"/>
      	<xs:enumeration value="NO_DATA_FOUND"/>
      	<xs:enumeration value="INTERNAL_ERROR"/>
      	<xs:enumeration value="INSUFFICIENT_DATA"/>
	</xs:restriction>
  </xs:simpleType>

  <xs:element name="assignCouponToUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:couponCode"/>
        <xs:element ref="promotionAdmin:userName"/>
        <xs:element ref="promotionAdmin:overrideCouponUserLimit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="couponCode" type="xs:string"/>
  <xs:element name="userId" type="xs:int"/>
  <xs:element name="overrideCouponUserLimit" type="xs:int"/>

  <xs:element name="assignCouponToUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:assignCouponToUserStatusEnum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assignCouponToUserStatusEnum" type="promotionAdmin:assignCouponToUserStatusEnum"/>
  <xs:simpleType name="assignCouponToUserStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS"/>
      <xs:enumeration value="INTERNAL_ERROR"/>
      <xs:enumeration value="NO_SESSION"/>
      <xs:enumeration value="INVALID_USER"/>
      <xs:enumeration value="COUPON_ALREADY_ASSIGNED_TO_USER"/>
      <xs:enumeration value="INVALID_COUPON_TYPE"/>
      <xs:enumeration value="INVALID_COUPON_CODE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="viewPromotionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:promotionId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="viewPromotionResponse">
    <xs:complexType>
      <xs:sequence>
      	<xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:promotionTO"/>
        <xs:element ref="promotionAdmin:errorCause"/>
        <xs:element ref="promotionAdmin:viewPromotionEnum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ruleId" type="xs:int"/>
  
  <xs:element name="viewPromotionEnum" type="promotionAdmin:viewPromotionEnum"/>
  <xs:simpleType name="viewPromotionEnum">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="SUCCESS"/>
      	<xs:enumeration value="NO_SESSION"/>
      	<xs:enumeration value="NO_DATA_FOUND"/>
      	<xs:enumeration value="INTERNAL_ERROR"/>
      	<xs:enumeration value="INSUFFICIENT_DATA"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:element name="updatePromotionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:promotionTO"/>
        <xs:element ref="promotionAdmin:sessionToken"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
   <xs:element name="searchCouponRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:userName"/>
        <xs:element ref="promotionAdmin:couponCode"/>
        <xs:element ref="promotionAdmin:startRecord"/>
        <xs:element ref="promotionAdmin:batchSize"/>
        <xs:element ref="promotionAdmin:searchCouponOrderBy"/>
        <xs:element ref="promotionAdmin:sortOrder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="searchCouponOrderBy" type="promotionAdmin:searchCouponOrderBy"/>
  <xs:simpleType name="searchCouponOrderBy">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="COUPON_CODE"/>
      	<xs:enumeration value="COUPON_TYPE"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:element name="updatePromotionResponse">
    <xs:complexType>
      <xs:sequence>
      	<xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:errorCause"/>
        <xs:element ref="promotionAdmin:updatePromotionEnum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userName" type="xs:string"/>
  
  <xs:element name="searchCouponResponse">
    <xs:complexType>
      <xs:sequence>
      	<xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:couponBasicDetails" maxOccurs="unbounded"/>
        <xs:element ref="promotionAdmin:errorCause"/>
        <xs:element ref="promotionAdmin:searchCouponStatus"/>
        <xs:element ref="promotionAdmin:totalCount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="couponBasicDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:couponId"/>
        <xs:element ref="promotionAdmin:couponCode"/>
        <xs:element ref="promotionAdmin:couponType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="updatePromotionEnum" type="promotionAdmin:updatePromotionEnum"/>
  <xs:simpleType name="updatePromotionEnum">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="SUCCESS"/>
      	<xs:enumeration value="NO_SESSION"/>
      	<xs:enumeration value="RULE_CONFIG_MISSING"/>
      	<xs:enumeration value="INTERNAL_ERROR"/>
      	<xs:enumeration value="INSUFFICIENT_DATA"/>
      	<xs:enumeration value="INVALID_PROMOTION_ID"/>
      	<xs:enumeration value="NO_DATA_FOUND"/>
      	<xs:enumeration value="DUPLICATE_PROMOTION_NAME"/>
	</xs:restriction>
  </xs:simpleType>

  <xs:element name="couponId" type="xs:int"/>
 
  <xs:element name="couponType" type="promotionAdmin:couponType"/>
  <xs:simpleType name="couponType">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="PRE_ISSUE"/>
      	<xs:enumeration value="GLOBAL"/>
      	<xs:enumeration value="POST_ISSUE"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:element name="searchCouponStatus" type="promotionAdmin:searchCouponStatus"/>
  <xs:simpleType name="searchCouponStatus">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="SUCCESS"/>
      	<xs:enumeration value="NO_SESSION"/>
      	<xs:enumeration value="NO_DATA_FOUND"/>
      	<xs:enumeration value="INTERNAL_ERROR"/>
      	<xs:enumeration value="INVALID_USER"/>
      	<xs:enumeration value="INSUFFICIENT_DATA"/>
	</xs:restriction>
  </xs:simpleType>
  
   <xs:element name="createCouponRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:couponTO"/>
        <xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:codeDetails"/>
        <xs:element ref="promotionAdmin:numberOfCoupon"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="couponTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:couponId"/>
        <xs:element ref="promotionAdmin:couponType"/>
        <xs:element ref="promotionAdmin:promotionId"/>
        <xs:element ref="promotionAdmin:couponCode"/>
        <xs:element ref="promotionAdmin:maxUses"/>
        <xs:element ref="promotionAdmin:maxAmount"/>
        <xs:element ref="promotionAdmin:maxUsesPerUser"/>
        <xs:element ref="promotionAdmin:maxAmountPerUser"/>
        <xs:element ref="promotionAdmin:createdOn"/>
        <xs:element ref="promotionAdmin:lastModifiedOn"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="numberOfCoupon" type="xs:int"/>
  <xs:element name="createdOn" type="xs:dateTime"/>
  <xs:element name="lastModifiedOn" type="xs:dateTime"/>
  
    <xs:element name="codeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:codeLength"/>
        <xs:element ref="promotionAdmin:alphaNumericType"/>
        <xs:element ref="promotionAdmin:startsWith"/>
        <xs:element ref="promotionAdmin:endsWith"/>
        <xs:element ref="promotionAdmin:alphabetCase"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="alphaNumericType" type="promotionAdmin:alphaNumericType"/>
  <xs:simpleType name="alphaNumericType">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="ALPHABETS"/>
      	<xs:enumeration value="ALPHA_NUMERIC"/>
      	<xs:enumeration value="NUMBERS"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:element name="alphabetCase" type="promotionAdmin:alphabetCase"/>
  <xs:simpleType name="alphabetCase">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="UPPER"/>
      	<xs:enumeration value="LOWER"/>
      	<xs:enumeration value="MIXED"/>
      	<xs:enumeration value="INVARIANT"/>
	</xs:restriction>
  </xs:simpleType>
  
  <xs:element name="codeLength" type="xs:int"/>
  <xs:element name="startsWith" type="xs:string"/>
  <xs:element name="endsWith" type="xs:string"/>
  
  <xs:element name="createCouponResponse">
    <xs:complexType>
      <xs:sequence>
      	<xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:numberOfCouponsCreated"/>
        <xs:element ref="promotionAdmin:createCouponStatus"/>
        <xs:element ref="promotionAdmin:commaSeparatedCouponCodes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="numberOfCouponsCreated" type="xs:int"/>
  <xs:element name="commaSeparatedCouponCodes" type="xs:string"/>
  
  <xs:element name="createCouponStatus" type="promotionAdmin:createCouponStatus"/>
  <xs:simpleType name="createCouponStatus">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="SUCCESS"/>
      	<xs:enumeration value="NO_SESSION"/>
      	<xs:enumeration value="INVALID_COUNT"/>
      	<xs:enumeration value="INTERNAL_ERROR"/>
      	<xs:enumeration value="MAX_COUNT_EXCEEDED"/>
      	<xs:enumeration value="INVALID_LENGTH"/>
      	<xs:enumeration value="INVALID_PROMOTION"/>
      	<xs:enumeration value="INVALID_LIMITS_CONFIG"/>
      	<xs:enumeration value="CODE_GENERATION_FAILED"/>
      	<xs:enumeration value="CODE_CHAR_TYPE_CASE_INVALID"/>
	</xs:restriction>
  </xs:simpleType>
  
    <xs:element name="viewCouponRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:couponId"/>
        <xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:couponCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
    <xs:element name="viewCouponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="promotionAdmin:couponTO"/>
        <xs:element ref="promotionAdmin:sessionToken"/>
        <xs:element ref="promotionAdmin:viewCouponStatus"/>
        <xs:element ref="promotionAdmin:errorCause"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="viewCouponStatus" type="promotionAdmin:viewCouponStatus"/>
  <xs:simpleType name="viewCouponStatus">
  	<xs:restriction base="xs:string">
    	<xs:enumeration value="SUCCESS"/>
      	<xs:enumeration value="NO_SESSION"/>
      	<xs:enumeration value="INTERNAL_ERROR"/>
      	<xs:enumeration value="INVALID_COUPON"/>
	</xs:restriction>
  </xs:simpleType>
  
</xs:schema>
